body{
	background-color: #191919;
}

.navbar{
	background-color: #191919;
}


.navbar-brand {
	font-family: 'Roboto Mono';
	font-weight: bold;
}

.jumbotron{
	height: 400px;
	width: 100%;
	background-size: cover;
	background-color: #204060;
	/*background-image: url("http://i.imgur.com/zuzz1Kz.jpg");*/
}

.container{
	color: white;
	font-family: 'Roboto';
}

.projects{
	color: white;
}

a {
	color: #204060
}
