body{
	background-color: #191919;
}

.navbar{
	background-color: #264c73;
	width: 19200px;
	margin: 0;
	padding: 0;
}


#title{
	font-family: 'Roboto Slab';
	font-weight: bold;
	color: white;
}

.project{
	color: gray;
	font-family: 'Roboto';
}
